<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <title>Dream Sale</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
</head>

<body>
    <div class="col-8 m-auto pt-2 pb-2 text-center">
        <h1>Dream Sale</h1>
    </div>

    <div class="col-8 m-auto pt-3 pb-2 text-center"> <!-- DIV DO BOTÃO ADICIONAR -->
        <a href="/form" class="btn btn-success">Adicionar</a>
    </div>

    <div class="col-8 m-auto pt-3 pb-2 text-center"> <!-- DIV DO CAMPO DE BUSCA -->
        <form method="get">
            <input type="text" id="search" name="search" class="form-control" placeholder="Buscar">
        </form>
    </div>

    <div class="col-8 m-auto pt-4 pb-2 text-center">  <!-- INICIO DA TABELA BOOTSTRAP-->
            <table class="table">
  <thead class="thead-dark">
    <tr>
      <th scope="col">#</th>
      <th scope="col">Nome</th>
      <th scope="col">E-Mail</th>
      <th scope="col">Telefone</th>
      <th scope="col">Ações</th>
    </tr>
  </thead>
   <tbody>
    {% for dbs in db %}

        <tr>
            <th>{{ dbs.id }}</th>
            <td>{{ dbs.Nome }}</td>
            <td>{{ dbs.Email }}</td>
            <td>{{ dbs.Telefone }}</td>
                <td>
                    <a href="/view/{{ dbs.id }}/" class="btn btn-dark">Visualizar</a>
                    <a href="/edit/{{ dbs.id }}/" class="btn btn-primary">Editar</a>
                    <a href="/delete/{{ dbs.id }}/" class="btn btn-danger btnDel">Deletar</a>
                </td>
        </tr>
    {% endfor %}

   </tbody>
        </table>
    </div>

    {% load static %}
    <script src="{% static 'javascript.js' %}"></script>


</body>
</html>